a {
  text-decoration: none;
}

.nav-holder {
  width: 100%;
  min-height: 60px;
  background-color: #e4e4e4;
  font-family: 'Exo 2', sans-serif;
  position: fixed;
}

.name {
  font-size: 35px;
  color:  #587272;
  width: auto;
  min-width: 197px;
  position: absolute;
  margin: 10px 0 0 10px;
}



/*mobile for navbar links*/
@media only screen and (min-width: 0px) {
    .link-row {
      width: 100%;
      min-height: 30px;
      margin: 60px 0px 0 0;
      float: right;
    }

    .linker {
      float: left;
      text-align: center;
      width: 32.5%;
    }
  }

/*desktop for navbar links*/
@media only screen and (min-width: 650px) {
    .link-row {
      width: 300px;
      height: 30px;
      margin: 30px 10px 0 0;
      float: right;
    }

    .linker {
      float: left;
      text-align: center;
      width: 100px;
    }
  }

.linker a {
  color: #587272;
}
